---
import BlueTri from '../components/BlueTriangle';
---

<html>
  <head>
    <title>Blue Triangle - WebAssembly with WebGL</title>
  </head>
  <body>
    <h1>Blue Triangle Demo (SDL + WebGL + WASM)</h1>
    <BlueTri client:only="react"/>
  </body>
</html>
